{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
	<title>Cari Buku</title>
</head>


<body>
	<div class="container" align="center" style="margin-top: 5%">
		<h1>Cari Buku</h1><br>
		<div style="margin-bottom: 3%">
			<input id="box" type="text" placeholder="Judul buku">
			<input id="button" 	type="submit" value="Cari" onclick="submit()">
		</div>

		<table class="table">
			<thead>
		    <tr>
		    	<th scope="col">Cover</th>
			    <th scope="col">Judul</th>
			    <th scope="col">Author</th>
				</tr>
			</thead>
			<tbody id="result"></tbody>
		</table>
	</div>
</body>
</html>